.nuevo{
    background-color: darkblue;
    font-size: 50;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    color: white;
    border: solid 5px;
    border-color: black;
    border-radius: 10px;
    padding: -12%;
    margin: 1%;
    text-align: center;
}

.nuevo2{
    background-color: white;
    font-size: 20;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;2
    font-weight: 800;
    color: goldenrod;
    border: solid 5px;
    border-color: darkblue;
    border-radius: 10px;
    padding: -12%;
    margin: 1%;
}

.nuevo3{
    background-color: darkred;
    font-size: 30;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    color: darkblue;
    border: solid 5px;
    border-color: darkblue;
    border-radius: 10px;
    padding: -12%;
    margin: 1%;
}

.foto {
    border-radius: 10px;
    max-width: 50%;
}